/*      MOBILE 
            FIRST      */

h3 {
  padding: 1rem 0 0 1rem;
  font-size: 1.6rem;
  color: #243849;
}

h4 {
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  color: #243849;
}

.redesign-image {
  display: block;
  margin: auto;
  width: 85%;
  padding: 3rem 1rem;
}

ul,
li {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  list-style: disc;
  color: #243849;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0 0 1rem 0;
}

/*    Larger 
          Screen 
            (800px and up) */
@media screen and (min-width: 1080px) {
  h2 {
    padding: 2rem;
    font-size: 2.5rem;
  }

  h3 {
    padding: 3rem 0 0 3rem;
    font-size: 2.1rem;
  }

  h4 {
    padding: 1.8rem 3rem;
    font-size: 1.6rem;
  }

  .redesign-image {
    width: 50%;
    padding: 6rem 3rem;
  }

  ul,
  li {
    font-size: 1.2rem;
  }

  .links {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    padding: 3rem;
    margin: 3rem auto;
    width: 65%;
  }

  .card-para {
    padding: 4rem;
    line-height: 2rem;
  }

  .action {
    font-size: 1.2rem;
    padding: 1rem 0.7rem;
  }
}
